[package]
name = "migration"
version = "0.1.0"
edition = "2021"

[dependencies]
async-trait = "0.1"
sea-orm-migration = { version = "1.1.14", features = ["sqlx-sqlite", "runtime-tokio-rustls"] }
tokio = { version = "1.37", features = ["rt-multi-thread", "macros"] }
