[package]
name = "shared"
version = "0.1.0"
edition = "2024"

[lib]
path = "src/lib.rs"

[dependencies]
serde = "1.0.228"

[features]
default = ["backend"]
backend = []  # Only include sea-orm for backend
frontend = []              # No backend dependencies for frontend